<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Engineering 57 CSS Components</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<div class="mb-4">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
  			<a class="navbar-brand" href="\Users\user\Frontend\Boostrap_project\templates\bootstrap_new.html">FEbooks</a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
  			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
    			<ul class="navbar-nav mr-auto">
      				<li class="nav-item active">
        				<a class="nav-link" href="\Users\user\Frontend\Boostrap_project\templates\bootstrap_new.html">Home <span class="sr-only">	
        				(current) </span></a>
      				</li>
      				<li class="nav-item">
        				<a class="nav-link" href="#"></a>
      				</li>
      				<li class="nav-item dropdown">
        				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        	<div class="dropdown-menu" aria-labelledby="navbarDropdown">
          		<a class="dropdown-item" href="#">Buy, Rent or Search</a>
          		<a class="dropdown-item" href="#">Write and Publish</a>
          			<div class="dropdown-divider">
          			</div>
          		<a class="dropdown-item" href="\Users\user\Frontend\Boostrap_project\templates\about_me.html">About</a>
        	</div>
      				</li>
      					<li class="nav-item">
                		<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
            		</li>
        		</ul>
    			<form class="form-inline my-2 my-lg-0">
      				<input class="form-control mr-sm-2" href="www.google.com" type="search" placeholder="Search" aria-label="Search">
      				<button class="btn btn-outline-success my-2 my-sm-0" href="https://www.google.com" type="submit">Search</button>
    			</form>
  			</div>
		</nav>
	</div>
		<div class="mt-4">
		<div class="mx-auto" style="width: 300px;">
	<div class="card" style="width: 18rem;">
  <img class="card-img-top rounded" src="C:\Users\user\Frontend\Boostrap_project\images\nathan_pic.JPG" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Wanderer. Explorer. Trainee DevOps Engineer.</p>
  </div>
</div>
</div>
</div>
<div class="mt-4">
	<table class="table">
		<div class="mx-auto" style="width: 60px;">
		<h5>Skills</h5>
  <thead>
    <tr>
      <th scope="col">Level/Skill</th>
      <th scope="col">Expert</th>
      <th scope="col">Not Bad</th>
      <th scope="col">Novice</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Java</th>
      <td></td>
      <td>v</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Python</th>
      <td>v</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">SQL</th>
      <td></td>
      <td>v</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Git/Version Control</th>
      <td></td>
      <td>v</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">Agile/Scrum</th>
      <td></td>
      <td>v</td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">HTML/CSS</th>
      <td></td>
      <td></td>
      <td>v</td>
    </tr>
  </tbody>
</table>
</div>
</div>
<div class="mx-auto" style="width: 100px;">
	<div class="mt-4">
<div class="panel panel-default">
  <div class="panel-body b">Hobbies</div>
</div>
</div>
</div>
	<div class="mx-auto" style="width: 550px;">
		<div class="mt-4">
	<div class="card-group" style="width: 36rem";>
  <div class="card">
    <img class="img-thumbnail" src="C:\Users\user\Frontend\Boostrap_project\images\IMG_0129.JPG" alt="">
</div>
  <div class="card">
    <div class="card-body">
      <h5>Travel</h5>
      <p class="card-text">This photo of Nathan was taken near Middle Huahai Road in Shanghai, next to a clothes shop called Nathan Road, after the famous Nathan Road in the Tsim Sha Tsui District of Hong Kong. Nathan lived on Nathan Road in Hong Kong for 6 months, shopped there a lot but never actually shopped at Nathan Road on Huaihai Road in Shanghai.</p>
    </div>
  </div>
</div>
</div>
<div class="mt-4">
<div class="card-group" style="width: 36rem";>
<div class="card">
    <img class="img-thumbnail img-responsive" src="C:\Users\user\Frontend\Boostrap_project\images\IMG_20200614_175455.JPG" alt="">
</div>
  <div class="card">
    <div class="card-body">
      <h5>Cycling</h5>
      <p class="card-text">A welcome new/long shelved hobby (re-)discovered during the covid-19 lockdown. You have to make the best of everything. Plus, when the pubs open up again and you cannot find Nathan, he'll be up a mountain somewhere struggling for breath peddling uphill.</p>
    </div>
  </div>
</div>
</div>
<div class="mt-4">
<div class="card-group" style="width: 36rem";>
  <div class="card">
    <img class="img-thumbnail" src="C:\Users\user\Frontend\Boostrap_project\images\IMG_0278.JPG" alt="">
</div>
  <div class="card">
    <div class="card-body">
      <h5>Mountain Trekking/Climbing</h5>
      <p class="card-text">Any excuse for a good view and to keep away from the shops/pubs. It's like cycling, but with your legs. Climbing is more like "I'm bored of walking, let's play games with life and hang off a harness on a clifface plankwalk at the height of 2km. Photo taken at Huashan, China.</p>
    </div>
  </div>
</div>
</div>
</div>
<div class="mt-4">
	<div class="mx-auto" style="width: 90px;">
  		<p class="lead">
    		<a class="btn btn-primary btn-lg" href="https://uk.linkedin.com/in/nathan-forester-50253b49?trk=people-guest_people_search-card&challengeId=AQFPtVOH4YoqiQAAAXLJ0AgCTEhOSAOCaMiyAk_NoLcHEtLPKX4lZVabUdw62xCnnx41XUvfg1YeTPUD-xuJowgeynZ6zyk54Q&submissionId=51837876-eac7-1916-8de0-d8ab15d65609" role="button">LinkedIn</a>
  		</p>
  </div>
 </div>
<div class="mt-4">
<div class="mx-auto" style="width: 200px;">
<nav aria-label="Page navigation example">
  		<ul class="pagination">
    		<li class="page-item"><a class="page-link" href="C:\Users\user\Frontend\Boostrap_project\templates\bootstrap_new.html">Previous</a></li>
    		<li class="page-item"><a class="page-link" href="C:\Users\user\Frontend\Boostrap_project\templates\bootstrap_new.html">1</a></li>
    		<li class="page-item"><a class="page-link" href="C:\Users\user\Frontend\Boostrap_project\templates\about_me.html">2</a></li>
    		<li class="page-item"><a class="page-link" href="C:\Users\user\Frontend\Boostrap_project\templates\bootstrap_new.html">Next</a></li>
  		</ul>
	</nav>
</div>
</div>
</body>
</html>